#mainCart {
    background-color: #10841e;

    #cart {

        margin: 0px 230px 0px 230px;


        & .masMinus {
            & i {
                color: #10841e;
            }

            & div {
                width: 40px;
                height: 30px;
            }
        }
    }
}