main {
    min-height: 375px;

    & #products {
        & .card {
            height: 280px;
            width: 190px;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

            & img {
                object-fit: cover;
            }

            & p {
                background: #10841e;
                color: white;
                cursor: pointer;
            }
        }
    }

    & #cartIndex {

        & .masMinus {
            width: 80px;
            height: 30px;
        }

        & .mainCart {
            color: #10841e;
            position: fixed;
            right: 40px;
            bottom: 5px;
            font-size: 70px;
            cursor: pointer;
        }

        & .disabled {
            display: none;
        }

        & .cartDisp {
            background-color: #10841e;
            position: fixed;
            right: 40px;
            bottom: 2px;
            max-height: 750px;
            width: 550px;
            overflow-y: scroll;


            & .quitCart {

                & p {
                    width: 15%;
                    cursor: pointer;
                }

                & div {
                    cursor: pointer;
                }
            }

            & .addProducts {
                & img {
                    height: 100px;
                    width: 100px;
                }
            }



        }
    }

}